/*****************************
			General
*****************************/

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
}

.primary-img {
	background-image: url(../img/background.jpg);
	background-image: url(../img/sean_kelso.png);
	min-height: 100%
}

.secondary-img {
	background-image: url("img/xsjado_skate_1.png");
	min-height: 400px;
}

.tertiary-img {
	background-image: url("img/xsjado_footwraps.png");
	min-height: 400px;
}

.primary-img, .secondary-img, .tertiary-img {
	position: relative;
	opacity: 0.5;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: red;
}

.caption span.border {
	background-color: yellow;
	padding: 20px;
	font-size: 24px;
	letter-spacing: 10px;
}

.block {
	position: relative;
}
/*****************************
		MEDIA QUERIES
*****************************/

