/*****************************
			General
*****************************/

body, html {
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #777;
}

a {
	text-decoration: none;
	color: #111;
	display: inline;
}

.primary-img, .secondary-img, .tertiary-img {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.primary-img {
	background-image: url(../img/sean_kelso.jpg);
	height: 100%
}

.secondary-img {
	background-image: url(../img/xsjado_team.jpg);
	height: 400px;
}

.tertiary-img {
	background-image: url(../img/xsjado_sean_chris.jpg);
	height: 500px;
}


.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	color: #fff;
	padding: 20px;
	font-size: 3em;
	letter-spacing: 10px;
}

h3 {
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
	font: 20px;
	color: #111;
	padding-bottom: 20px;
}

.block {
	color: #777;
	background-color: white;
	text-align: center;
	padding: 50px 80px;
	text-align: justify;
}

.shop {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

/*** Slideshow ***/

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #919191;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*** Footer ***/

footer {
	background-color: black;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px 5px 5px;
}

footer p {
	color: white;
}

.extra-white {
	background-color: white;
	margin: 20px;
}
/*****************************
		MEDIA QUERIES
*****************************/

/* Turn off parallax scrolling for tablets and phones */
@media (max-width: 768px) {

    .primary-img, .secondary-img, .tertiary-img {
        background-attachment: inherit;
    }
}






